.nav-link {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.15s;
}

.nav-link:hover {
  color: #9dabad;
}

.nav-link-light {
  color: #000000;
  text-decoration: none;
  transition: color 0.15s;
}

.nav-link-light:hover {
  color: #52525b;
}
